body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.category {
	font-size: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
}

table {
	width: 1000px;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}

.progress {
  width: 600px;
  margin: auto;
}

/* CARD */
.card {
    width: 600px;
    height: 250px;
    color: #6EA498;
    background-color: #00372B;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;

    /* vertically aligned content */
    overflow: hidden;
    display: table;
    position: static;
}

    .card .front, .card .back {
        /* vertically aligned content */
        /* http://www.jakpsatweb.cz/css/css-vertical-center-solution.html */
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        position: static;
    }

    .card .front {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
    }

    .card .back {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        /* display: none;*/
    }
    
    .card .answer {
    	display: none;
    }

    .card .card-footer {
        margin-top: 50px;
        margin-bottom: 5px;
        display: none;
    }

    .card .card-footer  span {
        color: #000;
        padding: 8px 30px;
        margin: -4px; /* TODO(drew): get rid of this hack */
    }

    .card .card-footer  span:hover {
        color: #fff;
        background-color: #000 !important;
    }

    .card .card-footer  span.rank-number:nth-of-type(1) {
        background-color: red;
    }

    .card .card-footer  span.rank-number:nth-of-type(2) {
        background-color: #F8F8F8;
    }

    .card .card-footer  span.rank-number:nth-of-type(3) {
        background-color: #E8E8E8;
    }

    .card .card-footer  span.rank-number:nth-of-type(4) {
        background-color: #D8D8D8;
    }

    .card .card-footer  span.rank-number:nth-of-type(5) {
        background-color: #C8C8C8;
    }

    .card .card-footer  span.rank-number:nth-of-type(6) {
        background-color: #B8B8B8;
    }